.head1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3vw;
}

.navbar {
  width: 100%;
  background: var(--color1);
  color: #f5deb3;
  padding: 2vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 5vw;
  border-bottom: 0.15vw solid var(--color4);
}

.navbar h1 {
  color: var(--still2);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 800;
}

.navbar h1 span {
  color: var(--still1);
}

/* Keranjang */
#cartBtn {
  position: absolute;
  right: 2vw;
  width: auto;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  z-index: 1000;
  padding: 0.5vw;
}

#cartCount {
  position: absolute;
  top: 0.2vw;
  background: red;
  right: 0;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.1vw 0.5vw 0.1vw 0.5vw;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.imgn {
  width: 25%;
  margin-left: 5vw;
}

.p1v {
  margin: 0;
  font-size: 1rem;
  width: 80%;
  text-align: left;
  margin-top: 1.5vw;
  color: #b84949;
  font-weight: 500;
}

.sec1 {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: center;
  background-image: url("../img/bgcookis.jpeg");
  height: 42vw;
  background-position: center;
  background-size: cover;
}

.sec2 {
  display: flex;
  width: 90%;
  align-items: start;
  justify-content: start;
  gap: 3vw;
  padding-left: 10vw;
}

.btnb {
  width: 20%;
  padding: 1vw;
  border-radius: 0.5vw;
  background: #c59c0d;
  color: white;
  border: 0.1vw solid black;
  font-weight: 500;
  font-size: 1.3rem;
}

.btnex {
  width: 20%;
  padding: 1vw;
  font-size: 1.3rem;
  border-radius: 0.5vw;
  font-weight: 500;
  background: none;
  border: 0.1vw solid black;
}

.btnex:hover {
  background: #c59c0d;
  color: white;
}

.sec3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: start;
  justify-content: center;
  margin-left: 6vw;
  padding-left: 3vw;
  border-left: 0.2vw solid #766a5b;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.judul {
  text-align: left;
  width: 100%;
  font-size: 3rem;
  margin: 0;
  color: #383423;
  font-weight: 400;
}

.secha {
  display: flex;
  position: absolute;
  right: 10vw;
  gap: 3vw;
}

.hyperlink1 {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.SecFig {
  display: flex;
  height: 2vw;
  margin: 0;
  margin-top: 1vw;
  gap: 1.2vw;
}

.SecImg {
  height: 100%;
  width: auto;
}

.ove {
  background: black;
  opacity: 80%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -280px;

  width: 260px;
  height: 100vh;

  background: #2b1d16;
  color: white;

  padding: 20px;

  transition: 0.3s ease;
  z-index: 999;

  display: flex;
  flex-direction: column;
}

/* aktif */
.sidebar.active {
  left: 0;
}

/* atas */
.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

/* close */
.close-btn {
  background: none;
  border: none;
  color: white;

  font-size: 1.5rem;
  cursor: pointer;
}

/* nav */
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;

  transition: 0.2s;
}

.sidebar nav a:hover {
  color: #d4a373;
}

.imgnav1 {
  position: absolute;
  left: 1vw;
  background: var(--still2);
  height: 85%;
  width: auto;
  border-radius: 0.4vw;
}

.aside1 {
  display: none;
}

.menu2{
  display: none;
}

/* HP */
@media (min-width: 321px) and (max-width: 480px){
  .navbar {
    height: 15vw;
  }

  .imgnav1 {
    display: none;
  }

  .secha {
    display: none;
  }

  .aside1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    inset: 0;
    position: fixed;
    z-index: 9999;
    background: var(--still1);
    width: 50%;
    left: -500px;
    padding-top: 9vw;
  }

  .aside1Active {
    left: 0;
  }

  .aside1 .hyperlink1 {
    border-bottom: 0.15vw solid var(--color1);
    border-top: 0.15vw solid var(--color1);
    padding: 3vw 0 3vw 0;
    width: 90%;
  }

  .aside1 .hyperlink1:hover{
    color: var(--color1);
  }

  .overlayA {
    inset: 0;
    background: black;
    opacity: 40%;
    position: fixed;
    z-index: 9998;
  }

  .sec1 {
    margin-top: 10vw;
    height: 70vw;
  }

  .sec2 {
    flex-direction: column;
    margin-left: 6vw;
    padding-left: 0;
    margin-top: 3vw;
  }

  .sec3 {
    width: 70%;
  }

  #cartBtn {
    padding: 1vw;
  }

  #cartCount {
    position: absolute;
  top: 1vw;
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    background: red;
    color: white;
  
  }

  .menu2 {
    color: white;
    position: absolute;
    left: 1vw;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    background: none;
    border: none;
    display: flex;
    height: 100%;
  }

  .menu2 .iconmenu {
    width: 100%;
    height: 100%;
  }
}

/* HP besar */
@media (min-width: 481px) and (max-width: 767px){
 
  .navbar{
    height: 10vw;
  }
#cartBtn{
  padding: 1.5vw;
}
  #cartCount{
 padding: 0.5vw 1vw 0.5vw 1vw;
  }


}
@media (min-width: 768px) and (max-width: 1100px) {
  .navbar{
    height: 7vw;
  }
}