/* src/components/Keranjang1.css */

.keranjangPage {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2vw;

  z-index: 9999;
}

.keranjangBox {
  width: 75%;
  height: 92vh;

  overflow-y: auto;

  background: #fff;
  border-radius: 2vw;

  padding: 2vw;

  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.2);

  animation: popupCart 0.3s ease;
}

.keranjangHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2vw;
}

.titleCart h2 {
  font-size: clamp(1.3rem, 2vw, 2.2rem);
  color: var(--color1);
}

.titleCart p {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: gray;

  margin-top: 0.3vw;
}

.closeCart {
  width: 3vw;
  height: 3vw;

  min-width: 42px;
  min-height: 42px;

  border: none;
  border-radius: 50%;

  background: crimson;
  color: white;

  cursor: pointer;

  font-size: clamp(1rem, 1vw, 1.2rem);

  transition: 0.3s;
}

.closeCart:hover {
  transform: rotate(90deg) scale(1.05);
}

.cartKosong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5vw 2vw;

  text-align: center;
}

.cartKosong h3 {
  font-size: clamp(1.3rem, 1.8vw, 2rem);
  color: var(--color1);
}

.cartKosong p {
  margin-top: 1vw;

  font-size: clamp(0.95rem, 1vw, 1.1rem);
  color: gray;
}

.listCart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1.5vw;
}

.cartItem {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 1.5vw;

  padding: 1vw;

  border-radius: 1.3vw;

  background: #faf7f4;

  transition: 0.3s;
}

.cartItem:hover {
  transform: translateY(-0.2vw);
}

.cartImage {
  width: 100%;
}

.cartImage img {
  width: 100%;
  
  object-fit: cover;

  border-radius: 1vw;
}

.cartDetail {
  width: 80%;
}

.cartDetail h3 {
  font-size: clamp(1rem, 1.3vw, 1.5rem);

  margin-bottom: 1vw;

  color: var(--color1);
}

.qtyBox {
  display: flex;
  align-items: center;

  gap: 0.8vw;

  margin-bottom: 0.8vw;
}

.qtyBox span {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: gray;
}

.qtyBox strong {
  background: var(--color1);
  color: white;

  padding: 0.3vw 0.8vw;

  border-radius: 2vw;

  font-size: clamp(0.8rem, 1vw, 1rem);
}

.cartDetail h4 {
  font-size: clamp(1rem, 1.2vw, 1.4rem);

  color: var(--color1);
}

.cartFooter {
  margin-top: 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2vw;

  flex-wrap: wrap;
}

.totalBox p {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: gray;
}

.totalBox h3 {
  margin-top: 0.5vw;

  font-size: clamp(1.3rem, 2vw, 2rem);

  color: var(--color1);
}

.waButton {
  border: none;

  padding: 1vw 2vw;

  border-radius: 1vw;

  background: #25d366;
  color: white;

  font-size: clamp(0.9rem, 1vw, 1.1rem);
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.waButton:hover {
  transform: scale(1.04);
}
.keranjangBox::-webkit-scrollbar {
  width: 0.6vw;
}

.keranjangBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1vw;
}

.keranjangBox::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 1vw;
}

.keranjangBox::-webkit-scrollbar-thumb:hover {
  background: var(--color1);
}

.keranjangPage input{
  border: 0.1vw solid var(--still1);
}

@media (max-width: 900px) {
  .keranjangBox {
    width: 90%;

    border-radius: 4vw;

    padding: 4vw;
  }

  .cartItem {
    
    padding: 1vw;
    gap: 0;
    border-radius: 3vw;
  }

  .cartImage {
    width: 100%;
  }

  .cartImage img {
   height: auto;
    border-radius: 3vw;
  }

  .cartDetail {
    width: 70%;
  }

  .closeCart {
    width: 10vw;
    height: 10vw;
  }

  .waButton {
    width: 100%;

    padding: 3.5vw;

    border-radius: 3vw;
  }

  .cartFooter {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 600px) {
  .keranjangBox {
    width: 95%;
    padding: 5vw;
    max-height: 100%;
  }

  .cartItem {
    flex-direction: column;
    
  }

  .cartImage {
    width: 100%;
  }

  .cartImage img {
    width: 100%;
    height: auto;
  }

  .cartDetail {
    width: 100%;
  }
}