  /* Menu grid */
    .menu {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2vw;
      padding-top: 2vw;
      width: 95%;
      position: relative;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 0.15vw solid var(--color1);
      border-radius: 1vw;
    padding-bottom: 1vw;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0,0,0,0.08);
      position: relative;
    }


    .item.selected {
      border-color: #3af851da;
    }

    .figure1{
      width: 70%;
      margin: 0;
      margin-top: 2vw;
    }

    .item img {
      width: 100%;
      height: 13vw;
      object-fit: cover;

    }

    .item p {

      font-weight: 700;
      margin-top: 1vw;
    }

    .item small {
      color: #7c4700;
    }

    .itemh3{
      color: var(--color1);
      font-weight: 700;
      margin-bottom: 0;
    }

    .jumlah {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      opacity: 0;
      pointer-events: none;
      transform: translateY(5px);
      cursor: pointer;
    }

    .item.selected .jumlah {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
    
    .jumlah input {
      width: 40px;
      text-align: center;
      border: none;
      background: none;
      font-size: 16px;
      font-weight: 600;
      color: #3b2a1a;
      outline: none;
      pointer-events: none;
    }

    
    .imgmenu1{
      position: absolute;
      bottom: 0;
      width: 8%;
    }

    @media(max-width:900px){
          .menu{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
      .item{
        padding-bottom: 4vw;
      }
.jumlah{
    cursor: none;
}
.itemh3{
  font-size: 1rem;
}
      
    }